numpy
matplotlib
nibabel
scipy
ipykernel
palettable
fmri_decoder @ git+https://github.com/haenelt/fmri-decoder.git@main#egg=fmri_decoder
pymc
arviz
graphviz
fmri_tools @ git+https://github.com/haenelt/FmriTools@release-1.0.3
joblib
pyarrow
statsmodels
tqdm
neuropythy
